
<div class="row" style="margin-bottom: -15px;">
  <div class="col-md-3" *ngFor="let rastr of rastreamentoList">
    <div class="card bg-light mb-3" >
      <div class="card-header bg-primary text-light text-center">{{ rastr.title }}</div>
      <div class="card-body">
        <span class="badge badge-pill badge-dark bedge-step">{{ rastr.step }}</span>
    
        <div class="d-flex justify-content-center">
          <p class="text-center icon-status">
            <span class="glyphicon glyphicon-ok"></span>
          </p>
        </div>    
        
        <span class="card-text"><strong>Data: </strong>{{ rastr.date | date: 'dd/MM/yyyy' }}</span><br>
        <span class="card-text"><strong>Usuário: </strong>{{ rastr.user }}</span>
      </div>
      <div class="card-footer"><strong>Duração: </strong> 1d : 12h : 13m : 4s</div>
    </div>
  </div>  
</div>